<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Empleados</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1>Lista de Empleados</h1>

    <!--Dibuje la tabla-->
    <table class="table table-striped table-bordered table-hover table-condensed">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Teléfono</th>
            <th>Fecha de Nacimiento</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>

        <!--Llene la tabla dibujada-->
        <!--lo que me encuentre en empList (aqui esta guardada la lista con la información de todos los empleados, se va a llamar empelado-->
        <tr th:each="empleado : ${emplist}">

        </tr>

            <!--Voy en 1'30"-->

    </table>

</div>
</body>
</html>